body{
    background-color: #82A0D8;
}

h1{
    color:#22668D;
    background-color: cornsilk;
}
#show_sketch
{
    float:right;
}
canvas {
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count: infinite;
}
@keyframes example {
    from{box-shadow: 1px 1px 38px green;}
    to {box-shadow: 1px 1px 38px pink;}

}
P {
    padding-top: 10px;
    font-size: 25px;
}
